.message-window {
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 54px;
    border-radius: 5px;
    overflow: hidden;
    background: rgb(0, 0, 0, 0.1);
    transition: all ease 1s;
    box-shadow: 3px 3px 2px 2px rgb(0, 0, 0, 20%);
}

.message-window div {
    width: 48px;
    height: 48px;
    background-size: contain;
    transition: all ease 1s;
}

.message-window div:hover {
    transform: rotate(360deg);
}

.message-window div a {
    display: block;
    width: 100%;
    height: 100%;
}

.telegram {
    background-image: url('./images/telegram.svg');
}

.whatsup {
    background-image: url('./images/whatsapp.svg');
}

.mail {
    background-image: url('./images/email.svg');
}

.d-w-none {
    bottom: -150px;
}